*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     padding: 1em;
     width: 100%;
     text-align: center;
}
.flex{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     min-height: 75vh;
     align-items: center;
}
.box{

  padding: 0.5em;
border-radius: 10px;
min-width: 200px;
margin: 1em;
font-size: 1.5em;
box-shadow: 0 10px rgb(172, 172, 172);
}
.box.confirmed{
     border: 1px solid #e68c06;
background-color: chocolate;
}
.box.recovered{
     border: 1px solid #229e1e;
background-color: rgb(21, 212, 63);
}
.box.deaths{
     border: 1px solid #19a59e;
background-color: rgb(9, 168, 173);
}
h1{
     text-align: center;
}
@media screen and (min-width: 1000px){
     .flex{
          flex-wrap: nowrap;
     }
     .box{

          min-width: 300px;
          line-height: 1.5em;
          font-size: 2em;
     }
}
.dropdown{
     padding: 1em 0;
     font-size: 20px;
     text-align: center;
     border-radius: 10px;
     font-family: monospace;
     line-break: strict;
     /* box-shadow: 0 5px wheat; */
}
body{
     font-family: Arial, Helvetica, sans-serif;
     background: #1a2a6c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}